@media (max-width: 992px) {
 
    #products .size {
        width: 47%;
        margin: 1%;
    }
}

@media (max-width: 480px) {
    #products .size {
        clear: both;
        padding-left: 7%;
        width: 90%;
    }
}